@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font{
    font-family: "Azeret Mono", monospace;
}
#header{

}
#header .hero-section{
    width: 1440;
    height:652px;
    margin-top: 131px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#header .hero-section .banner-section{
    padding-top: 26px;
    width:998px;
    height:582px;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header .hero-section .banner-section .banner-section-img {
    width:240.28px;
    height:240px;
}
#header .hero-section .banner-section .banner-section-img img{
    width: 100%;
    height:100%;
}
#header .hero-section .banner-section h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color:rgb(13,19,33);
    line-height:68px;
}
#header .hero-section .banner-section p{
    margin-top: 24px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:rgb(13,19,33);
    opacity: 0.7;
}
#header .hero-section .banner-section button{
    border:none;
    background-color: rgb(13,19,33);
    border-radius: 8px;
    margin-top: 32px;
    text-align: center;
    color:#fff;
    font-size: 20;
    font-weight: 600;
    padding: 21px 24px;
    cursor: pointer;
}
#main{

}
#main .main-content{
    width:1140px;
    height:1395px;
    margin-top: 74px;
    margin-right: 152px;
    margin-left: 148px;
    border-radius: 16px;
    background-color: rgba(13,19,33,0.02);
}
#main .main-content .main-content-container{
    width:946px;
    height:1235px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:48px;
}
#main .main-content .main-content-container .heading-content{
    width:852px;
    height:115px;
    margin-top: 80px;
} 
#main .main-content .main-content-container .heading-content h1{
    text-align: center;
    color:rgb(13,19,33);
    font-size: 32px;
    font-weight: 800;
}
#main .main-content .main-content-container .heading-content p{
    margin-top: 24px;
    color:rgb(13,19,33);
    opacity: 0.7;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}
#main .main-content .main-content-container .main-part{
    width:946px;
    height:1072px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px
}
#main .main-content .main-content-container .main-part .main-part-div{
    width:946px;
    height:336px;
    border-radius: 16px;
    background: linear-gradient(90deg,rgb(255,255,255),rgba(255,255,255,0) 100%);
}
#main .main-content .main-content-container .main-part .main-part-div .contents1{
    width:850px;
    height:240px;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-text{
    width:477px;
    height:220px;
    margin-top: 10.5px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-text h3{
    color:rgba(13,19,33,0.7);
    font-family: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 36px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-text p{
    margin-top: 16px;
    color: rgb(13,19,33);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-text button{
    border: 1px solid rgb(13,19,33);
    opacity: 0.7;
    background: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding:12px 20px;
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-img{
    width:259.56px;
    height:217.01px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents1 .content-img img{
    width:100%;
    height:100%
}
#main .main-content .main-content-container .main-part .main-part-div .contents2{
    width:850px;
    height:240px;
    margin: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-text{
    width:477px;
    height:220px;
    margin-top: 10.5px;
    margin-right: 101px;
    margin-bottom: 9.5px;
    margin-left: 32px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-text h3{
    color:rgba(13,19,33,0.7);
    font-family: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 36px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-text p{
    margin-top: 16px;
    color: rgb(13,19,33);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-text button{
    border: 1px solid rgb(13,19,33);
    opacity: 0.7;
    background: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding:12px 20px;
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-img{
    width:259.56px;
    height:217.01px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents2 .content-img img{
    width:100%;
    height:100%
}
#main .main-content .main-content-container .main-part .main-part-div .contents3{
    width:850px;
    height:240px;
    margin: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-text{
    width:477px;
    height:220px;
    margin-top: 10.5px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-text h3{
    color:rgba(13,19,33,0.7);
    font-family: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 36px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-text p{
    margin-top: 16px;
    color: rgb(13,19,33);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-text button{ 
    border: 1px solid rgb(13,19,33);
    opacity: 0.7;
    background: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding:12px 20px;
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-img{
    width:259.56px;
    height:217.01px;
}
#main .main-content .main-content-container .main-part .main-part-div .contents3 .content-img img{
    width:100%;
    height:100%
}
/*main section 2nd part*/
#main .inspiration-section{
    width:1140px;
    height:777px;
    margin-left: 148px;
    margin-right: 152px;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

#main .inspiration-section .inspiration-text{
    width: 852px;
    height: 115px;
}
#main .inspiration-section .inspiration-text h2{
    color:rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
} 
#main .inspiration-section .inspiration-text p{
    margin-top: 24px;
    color:rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}
#main .inspiration-section .inspiration-video{
    width:1140px;
    height: 614px;
    border:1px solid rgba(13,19,33,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
#main .inspiration-section .inspiration-video iframe{
    border-radius: 16px;
}
/*main section part 3*/
#main .target-section{
    width:1140px;
    height:463px;
    margin-top:149px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
#main .target-section .target-description{
    width:852px;
    height:115px;
}
#main .target-section .target-description h3{
    text-align: center;
    color:rgb(13, 19, 33);
    font-size:32px;
    font-weight:800;
}
#main .target-section .target-description p{
    color:rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-top: 24px;
}
#main .target-section .skill-section{
    width:1140px;
    height:300px;
    display: flex;
    justify-content: space-between;
    gap:24px
}
#main .target-section .skill-section .skill1{
    width:364px;
    height:300px;
    border-radius: 16px;
    background-color: rgba(255,76,30,0.05);
}
#main .target-section .skill-section .skill1 img{
    padding-top: 40px;
    padding-left: 40px;
}
#main .target-section .skill-section .skill1 h3{
    color:rgb(13, 19, 33);
    font-size: 24px;
    text-align: left;
    font-weight: 800;
    margin-top: 32.6px;
    padding-left: 40px;
    text-transform: uppercase;
}
#main .target-section .skill-section .skill1 p{
    padding-left: 40px;
    color:rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
    text-align: left;
}
#main .target-section .skill-section .skill1 a{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    margin-top: 24px;
    text-transform: capitalize;
    display: inline-block;
}

#main .target-section .skill-section .skill2{
    width:364px;
    height:300px;
    border-radius: 16px;
    background-color: rgba(0,76,232,0.05);
}
#main .target-section .skill-section .skill2 img{
    padding-top: 40px;
    padding-left: 40px;
}
#main .target-section .skill-section .skill2 h3{
    color:rgb(13, 19, 33);
    font-size: 24px;
    text-align: left;
    font-weight: 800;
    margin-top: 32.6px;
    padding-left: 40px;
    text-transform: uppercase;
}
#main .target-section .skill-section .skill2 p{
    padding-left: 40px;
    color:rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
    text-align: left;
}
#main .target-section .skill-section .skill2 a{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    margin-top: 24px;
    text-transform: capitalize;
    display: inline-block;
}
#main .target-section .skill-section .skill3{
    width:364px;
    height:300px;
    border-radius: 16px;
    background-color: rgba(255,223,0,0.05);
}
#main .target-section .skill-section .skill3 img{
    padding-top: 40px;
    padding-left: 40px;
}
#main .target-section .skill-section .skill3 h3{
    color:rgb(13, 19, 33);
    font-size: 24px;
    text-align: left;
    font-weight: 800;
    margin-top: 32.6px;
    padding-left: 40px;
    text-transform: uppercase;
}
#main .target-section .skill-section .skill3 p{
    padding-left: 40px;
    color:rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
    text-align: left;
}
#main .target-section .skill-section .skill3 a{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    margin-top: 24px;
    text-transform: capitalize;
    display: inline-block;
}